*{
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body{
  margin: 0px;
  background-color: #f9f9f9;
}

h1, h2, h3, h4{
  font-family: "Zilla Slab";
}
hr{
  color: darkgrey;
  width: 100%;
}
span{
  font-family: Raleway;
  padding-left: 10px;
}
p{
  font-family: Raleway;
}

dialog{
  border-color: transparent;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.09);
  padding: 10px;
}

dialog h3{
  margin-top: 10px;
}

section{
  overflow-y: hidden;
}
button{
  background-color: orangered;
  color: white;
  border: none;
  cursor: pointer;
}
button:disabled{
  background-color: #d14500 !important;
  color: #d5d5d5;
}
button:not(.tasklist button, .slideoutButton) {
  background-color: orangered;
  height: 25px;
  margin: 5px 0;
  font-family: Raleway;
}
fieldset{
  margin: 0;
}
form :is(button,input,select){
  height: 25px;
  margin: 5px 0;
  font-family: Raleway;
}
select{
  width: 110px;
  font-family: Raleway;
}
label{
  font-family: Raleway;
  font-size: small;
}
/* input[type=text]::placeholder{
  color: #6f6f6f;
  opacity: 1;
} */
input[type=text]{
  padding: 5px;
}
input[type=date]{
  font-family: Raleway;
}
.outer_column {
  display: flex;
  flex-flow: column;
  height: 100%;
}
.outer_row {
  display: flex;
  flex-flow: row;
  height: 100%;
}
.inner_remaining {
  flex-grow: 1;
}
pre {
  display: inline;
  font-family: Raleway;
}

a{
  font-family: Raleway;
  color: grey;
}
.navbar{
  /* min-height: 30px; */
  background-color: white;
  padding: 0px 20px;
  border-bottom: 1px solid #d5d5d5;
}
.navbar div{
  padding: 7px;
  display: inline-block;
  float: left;
}
.navbar div.active{
  background-color: #ececec;
  /* color: white; */
}
.navbar .active a{
  /* background-color: orangered; */
  color: #4a4a4a;
  font-weight: bold;
}

.slideoutButton{
  margin: 0px;
  height: 34px;
  width: 34px;
  background-color: lightgrey;
}
.slideoutButtonWrapper{
  padding: 0px !important;
}
summary{
  font-family: Raleway;
  visibility: hidden;
  height: 0px;
 }
